{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="reg-content">
    <h1>Sign In</h1>
    <div class="reg-form">
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/reg_form.html' %}
            <div class="btn-centr-div">
                <button type="submit" class="reg-butt">Log In</button>
            </div>
        </form>
    </div>
    <div class="reg-bottom-text">
        Don't have an account?
        <a href="{% url 'register' %}" class="log-bot-butt">Sign up</a>
    </div>
</div>
{% endblock %}